<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available offers</title>
</head>
<body>
<table>
    <tr>
        <td>ID</td>
        <td>Duration</td>
        <td>Base price</td>
        <td>Additional expenses</td>
        <td>Package type</td>
    </tr>

    <tr th:each="offer: ${offers}">
        <td th:text="${offer.}"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

</table>

</body>
</html>