<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available offers</title>
</head>
<body>

<p><a th:href="@{'/offer/trip'}">Create a trip</a></p>
<p><a th:href="@{'/offer/adventure'}">Create an adventure</a></p>
<table>
    <tr>
        <td>ID</td>
        <td>Duration</td>
        <td>Available tickets</td>
        <td>Additional expenses</td>
        <td>Package type</td>
    </tr>

    <tr th:each="offer: ${offers}">
        <td><a th:href="@{'/offer/' + ${offer.getId()}}" th:text="${offer.getId()}"></a></td>
        <td th:text="${offer.getDuration()}"></td>
        <td th:text="${offer.getAvailableTickets()}"></td>
        <td th:text="${offer.getAdditionalExpenses()}"></td>
        <td th:text="${offer.getPackageType()}"></td>
    </tr>
</table>

</body>
</html>