<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Offer</title>
</head>
<body>

<p><a th:href="@{'/offer/' + ${offer.getId()} + '/ticket/create'}">Add tickets</a></p>
<div>
    <p><span>ID: </span><span th:text="${offer.getId()}"></span></p>
    <p><span>Duration: </span><span th:text="${offer.getDuration()}"></span></p>
    <p><span>Available tickets: </span><span th:text="${offer.getAvailableTickets()}"></span></p>
    <p><span>Additional expenses: </span><span th:text="${offer.getAdditionalExpenses()}"></span></p>
    <p><span>Package type: </span><span th:text="${offer.getPackageType()}"></span></p>
    <p><span>Location: </span><span th:text="${location}"></span></p>
    <p><span>From: </span><span th:text="${from}"></span></p>
    <p><span>Till: </span><span th:text="${till}"></span></p>
    <p><span>Destination: </span><span th:text="${destination}"></span></p>

    <h2>Calculate price</h2>
    <form action="#" th:action="@{'/offer/' + ${offer.getId() + '/price' }}" th:method="GET">
        <p>
            <label for="count">Enter ticket count</label>
            <input type="number" id="count" name="count">
        </p>
        <p>
            <label for="packageType">Package type</label>
            <select name="packageType" id="packageType">
                <option value="FAMILY">Family</option>
                <option value="SENIOR">Senior</option>
                <option value="COUPLE">Couple</option>
            </select>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>

    <h2>Buy tickets</h2>
    <form action="#" th:action="@{'/offer/' + ${offer.getId() + '/ticket/buy' }}" th:method="GET">
        <p>
            <label for="countBuy">Enter ticket count</label>
            <input type="number" id="countBuy" name="count">
        </p>
        <p>
            <label for="packageTypeBuy">Package type</label>
            <select name="packageType" id="packageTypeBuy">
                <option value="FAMILY">Family</option>
                <option value="SENIOR">Senior</option>
                <option value="COUPLE">Couple</option>
            </select>
        </p>
        <p>
            <label for="contact">Contact</label>
            <input type="text" id="contact" name="contact">
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

</body>
</html>